<section class="section_space">
    <div class="container">
        <div class="next-ux-design">
            <div class="row">
                <div class="col-md-6">
                    <div class="next-ux-design-image">
                        <img src="./assets/images/next-ux-design.webp" alt="image" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="next-ux-design-details">
                        <h3>The Next <br> UX Design <br>  Cohort Starts On:</h3>
                        <form>
                            <!-- <label for="username">Username:</label><br> -->
                            <input type="text" id="username" name="username"><br>
                            <a href="#" class="btn btn-primary">Apply Now</a>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>