
#navbarNav ul.navbar-nav li a {
    padding-left: 5px;
    color: var(--black);
    padding: 0.5em 0.8em;
}
.navbar-expand-lg .navbar-nav{
    .three_level{    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
        &~.dropdown-menu {
            left: 100%;
            top: 0;
        }
        &:after{
            right: 10px;
            position: absolute;
            top: 13px;
            transform: rotate(271deg);
        }
    }
}
.three_level_res{
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
}
#navbarNav .navbar-nav .show>.nav-link,  .navbar-nav .nav-link.active {
    background: var(--primary-color);
    color: var(--bs-white);
}
.dropdown-item:hover, .dropdown-item:focus {
    color: var(--primary-color);
    background: #a4b7f1;
}
a.dropdown-toggle.nav-link.three_level:hover {
    background: #a4b7f1;
    color: var(--primary-color);
}
#navbarNav li.nav-item.nav_last_item{
    background: var(--primary-color);
    border-radius: 5px;
    a{
        color: var(--bs-white);
    }
}
@media (min-width: 992px){
#navbarNav  ul.navbar-nav {
    column-gap: 10px;
}
}



@media only screen and (max-width: 767px){
    .cst_mobile_header{
       
        #navbarNav .navbar-nav .show > .nav-link, .navbar-nav .nav-link {
            padding-left: 10px;
        }
        // li.nav-item.show.dropdown a:nth-child(1){
        //     color: white;
        //     background: blue;
        // }
        li.nav-item.show.dropdown{
            .dropdown-toggle.nav-link{
                
            }

            a.dropdown-toggle.nav-link {
                
            }
            .dropdown-menu.show {
                display: block;
                width: 100%;
                position: relative!important;
                transform: translateZ(0)!important;
                border-radius: 0;
                background: #8793b9;
                border: none;
            }
        }
        li.nav-item.show.dropdown{
            >  a.dropdown-toggle.nav-link{
                background-color: var(--primary-color);
                color: var(--bs-white);
                
            }
            .show.dropdown{
                > .dropdown-toggle.nav-link{
                    background-color: var(--primary-color);
                    color: var(--bs-white);
                    
                }
                .dropdown-menu.show{
                    button.dropdown-item {
                        border-bottom: 1px solid var(--primary-color);
                        margin-bottom: 10px;
                    }
                }
            }
         
        }
        
    }
    
}
