<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<section class="what-will-learn section_space" id="target-element-3">
    <div class="container">
      <div class="what-will-learn_title">
        <h2 class="section__title">What Will I Learn?</h2>
        <p>Earn an industry-respected UI/UX Design Certification upon completion of your UI/UX Bootcamp, to further improve your marketability and upward career potential:</p>
      </div>
      <div class="row">
        <div class="col-md-6 what-will-learn_tabs" >
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link tab-link" data-tab="tab1"><p><span>Module 1:</span> Introduction to User Experience</p></a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab-link" data-tab="tab2"><p><span>Module 2:</span> Processes and introduction to deliverables</p> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab-link" data-tab="tab3"><p><span>Module 3:</span> Key Research Techniques</p> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab-link" data-tab="tab4"><p><span>Module 4:</span> Information Architecture and Navigation</p> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab-link" data-tab="tab5"><p><span>Module 5:</span> The Define Phase: Clarifying the Problem</p> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab-link" data-tab="tab6"><p><span>Module 6:</span> User Stories, Flows, and Sitemaps</p> </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link tab-link" data-tab="tab7"><p><span>Module 7:</span> HTML and CSS</p> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab-link" data-tab="tab8"><p><span>Module 8:</span> Wire framing and Interaction Design</p> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab-link" data-tab="tab9"><p><span>Module 9:</span> Mobile First and Responsive Design</p> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab-link" data-tab="tab10"><p><span>Module 10:</span> Prototyping</p> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab-link" data-tab="tab11"><p><span>Module 11:</span> Case Studies</p> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link tab-link" data-tab="tab12"><p><span>Module 12:</span> Usability Testing</p> </a>
            </li>

          </ul>
        </div>
        <div class="col-md-6 ">
          <div class="what-will-learn_tabs_details">
            <div class="tab-content  active-tab" id="tab1">
              <div class="what-will-learn_tab_description">
                <h3>Module 1: Introduction to User Experience</h3>
                <p>This module will cover the following: the UX Design Process, practical applications and roles in the UX job Landscape. At the end of this module, students will better understand how they can be an integral part of a team that designs user-centered products and services.</p><br>
                <p>Download the syllabus to see all bootcamp modules.</p>
                <a href="#" class="what-will-learn_tab_btn btn btn-primary ">Download Syllabus</a>
              </div>
            </div>
            <div class="tab-content" id="tab2">
              <p>In this module, students will learn what is expected in the kickoff phase of a project. They will also understand how to conduct stakeholder interviews, how to create and refine business rules, and generally how to plan for success in their project's kick-off phase.</p>
            </div>
            <div class="tab-content" id="tab3">
            <p>In this module, students grow to understand the importance of data-based research, and learn how to conduct interviews with their customers, how to perform a competitive analysis, and how to present their research</p>
            </div>
            <div class="tab-content" id="tab4">
              <p>Information Architecture and Navigation are the two most important aspects of a website. Students will learn both concepts, and identify how to organize a website's contents for best results.</p>
            </div>
            <div class="tab-content" id="tab5">
              <p>User requirements are the basis of design. Students will learn to satisfy uyser requirements through empathy maps, as they develop user personas to better understand target demographics.</p>
            </div>
            <div class="tab-content" id="tab6">
              <p>Wireflows help define how users navigate through a product. This module teaches the basics of wireflows and user flows. Students learn to create wire and user flows that are more realistic, one of the essential phases to successful user experience planning.</p>
            </div>
            <div class="tab-content" id="tab7">
              <p>This module will introduce students to the basics of HTML and CSS. They will learn how to create a website using HTML, which is used to define their site's content. This module also covers CSS, which is used to control the appearance of their website's content.</p>
            </div>
            <div class="tab-content" id="tab8">
              <p>Design is a critical phase in the UX and UI process. Students will learn to implement design best practices as a blueprint or model of their product, which will inform how platforms are structured and built. This module introduces students to wireframing and interaction design standards. It also helps students understand how these two phases are crucial when designing a website or application.</p>
            </div>
            <div class="tab-content" id="tab9">
              <p>Students will learn the basis for responsive, mobile-first design, and learn to design structures that will adjust automatically depending on the device(s) used to access them.</p>
            </div>
            <div class="tab-content" id="tab10">
              <p>This module will review prototyping and discuss its benefits. Students will also learn different approaches to prototyping, types of prototypes and their benefits, prototyping tools, paper or digital methods other prototyping strategies.</p>
            </div>
            <div class="tab-content" id="tab11">
              <p>Case studies are typically used to showcase the effective implementation of a product or service, and identify how that design benefits users. Students will learn the essentials of case study creation, and the benefits of an effective case study for portfolio purposes.</p>
            </div>
            <div class="tab-content" id="tab12">
              <p>Case studies are typically used to showcase the effective implementation of a product or service, and identify how that design benefits users. Students will learn the essentials of case study creation, and the benefits of an effective case study for portfolio purposes.</p>
            </div>
          </div>
        </div>
      </div>   
    </div>
  </section>