<section class="section_space">
    
    <div class="container">
       
        <div class="our_bootcamps_work">
            <div class="our_bootcamps_work_title">
                <h3>How our Bootcamps work</h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="our_bootcamps_des">
                        <div class="our_bootcamps_list">
                            <div class="our_bootcamps_list_icon">
                                <img src="./assets/images/Group-5.svg" alt="">
                            </div>
                            <div class="our_bootcamps_list_des">
                                <h5>Offical University Certification</h5>
                                <p>Get an official certificate of completion from Workforce Institute.</p>
                            </div>
                        </div>
                        <div class="our_bootcamps_list">
                            <div class="our_bootcamps_list_icon">
                                <img src="./assets/images/flexible-classes.svg" alt="">
                            </div>
                            <div class="our_bootcamps_list_des">
                                <h5>Flexible Class Schedule</h5>
                                <p>Classes meet once a week and include access to 15-20 hours of online learning material completed each week.</p>
                            </div>
                        </div>
                        <div class="our_bootcamps_list">
                            <div class="our_bootcamps_list_icon">
                                <img src="./assets/images/Group-3.svg" alt="">
                            </div>
                            <div class="our_bootcamps_list_des">
                                <h5>Job Placement Services</h5>
                                <p>Our Job Placement services will help you with resume building, mock interviews and internships and job opportunities.</p>
                            </div>
                        </div>
                        <div class="our_bootcamps_list">
                            <div class="our_bootcamps_list_icon">
                                <img src="./assets/images/Group-6.svg" alt="">
                            </div>
                            <div class="our_bootcamps_list_des">
                                <h5>Mentoring Sessions</h5>
                                <p>Industry experts guide you through bootcamp with on-demand sessions.</p>
                            </div>
                        </div>
                        <div class="our_bootcamps_list">
                            <div class="our_bootcamps_list_icon">
                                <img src="./assets/images/Group-2.svg" alt="">
                            </div>
                            <div class="our_bootcamps_list_des">
                                <h5>Real World Learning</h5>
                                <p>We work with industry experts, hiring managers and digital Skills professionals to curate up-to-date curriculum. Your portfolio will be a collection of in-demand skills and proficiencies.</p>
                            </div>
                        </div>
                        <div class="our_bootcamps_list">
                            <div class="our_bootcamps_list_icon">
                                <img src="./assets/images/Group-1.svg" alt="">
                            </div>
                            <div class="our_bootcamps_list_des">
                                <h5>Accessable Payment Options </h5>
                                <p>Flexible payment options provide an accessible, affordable and quality Digital Skills education.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cst__button">
                        <a href="#" class="btn cst__btn">APPLY NOW</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="our_bootcamps_image">
                        <img src="./assets/images/our-bootcamp-image.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
