<section class="ui-ux-bootcamp-experience section_space">
    
    <div class="container">
        <div class="bootcamp-experience-title">
            <h2>The Bootcamp Experience</h2>
        </div>
        <div class="bootcamp-experience-list">
            <div class="row">
                <div class="col-md-4">
                    <div class="bootcamp-experience-details">
                        <img src="./assets/images/live-lectures-icon.svg" alt="" class="img-fluid">
                        <h4>Instructor-Led Live Lectures</h4>
                        <p>Gain knowledge from industry-expert instructors at the Workforce Institute through live, interactive lectures in a dynamic online classroom setting.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bootcamp-experience-details">
                        <img src="./assets/images/interactive-icon.svg" alt="" class="img-fluid">
                        <h4>Interactive, Project-Based Learning</h4>
                        <p>Participate in smaller team breakout sessions as a valuable component of Workforce Institute's hands-on courses, fostering collaboration and collective learning.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bootcamp-experience-details">
                        <img src="./assets/images/extending-icon.svg" alt="" class="img-fluid">
                        <h4>Extending the Community Beyond the Classroom</h4>
                        <p>Connect with fellow students and instructors within the Workforce Institute's Slack community, ensuring you stay informed and receive assistance throughout your course journey.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
