.ui-ux-payment-options {
    .text-primary{
        color: #000;
    }
    .paymnet__option {
        .text-primary {
            font-size: 32px;
            font-weight: 700;
        }
        a {
            width: auto;
            position: unset;
            bottom: 50px;
        }
        p {
            color: #7E7E7E;
        }
        .price-n-enroll-btn {
            min-height: 315px;
            position: relative;
            border-radius: 1rem;
            box-shadow: 0px 2px 5px 0px #CBCBCB;
            @media only screen and (max-width: 768px) {
                margin-top: 2rem;
            }
            p {
                font-size: .8rem;;
            }
            a.btn.btn-primary{
                position: absolute;
                bottom: 2rem;
                width: calc(100% - 3rem);
                left: 1.5rem;
                border-radius: 0;
                padding: 10px 0;
            }
            .price {
                position: absolute;
                bottom: 5.5rem;
            }
        }
    }
    .dark-grey-bg {
        background: rgba(217, 217, 217, 0.36);
    }
    .dark-light-bg {
        background: #F8F9FA;
    }
    .grey-price-feature {
        display: flex;
        align-items: center;
        padding: .75rem;
        margin-top: 1.2rem;
        .fa-check{
            color: #D86200;
        }
        h4{
            margin-bottom: 0;
        }
    }
    .job-guarantee-text {
        min-height: 155px;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
        border-radius: 1rem;
        box-shadow: 0px 2px 5px 0px #CBCBCB;
        h2 .text-primary{font-size: inherit;}
        a{
            min-width: 30%;
            display: block;
            border-radius: 0;
            padding: 10px 0;
        }
        @media only screen and (max-width: 768px) {
            padding: 10px 5px !important;
        }
    }
    p.small-text {
        font-size: .8rem;
        margin-bottom: 0;
    }
    .old-price {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 700;
        span{
            text-decoration: line-through;
            // font-size: 32px;
            // font-weight: 700;
        }
    }
}
.center-border {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background: #000;
        margin: 0;
        margin: 0 auto;
        left: 50%;
    }
}
img.hansta-muskurata {
    width: auto;
    position: absolute;
    bottom: -11%;
    left: -18%;
    @media only screen and (max-width: 768px) {
        bottom: -3%;
        left: -17%;
        width: 12rem;
    }
}
.row.gx-md-5{
    background: white;
    padding: 50px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 10px 1px lightgray;
}