
<section id="target-element-5" class="section_space ui-ux-payment-options">
    <div class="container">
        <h2 class="text-center mb-5 section__title">Prices and Payment options</h2>
        <div class="ui-ux-payment-options--details">
            <div class="row gx-md-5">
                <div class="col-12 col-md-12">
                    <div class="paymnet__option">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="price-box-feature-heading">
                                    <div class="row ">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="text-primary">Bootcamp Features</h4>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <h4>24 Weeks Program</h4>
                                        </div>
                                    </div>
                                    <div class="row dark-grey-bg grey-price-feature">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-6">
                                            <h6 class="mb-0">Instructor-led Sessions</h6>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <h4><i class="fa-solid fa-check text-primary"></i></h4>
                                        </div>
                                    </div>
                                    <div class="row dark-grey-bg grey-price-feature">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-6">
                                            <h6 class="mb-0">1:1 Career Sessions</h6>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <h4><i class="fa-solid fa-check text-primary"></i></h4>
                                        </div>
                                    </div>
                                    <div class="row dark-grey-bg grey-price-feature">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-6">
                                            <h6 class="mb-0">Annual Course Access</h6>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <h4><i class="fa-solid fa-check text-primary"></i></h4>
                                        </div>
                                    </div>
                                    <div class="row dark-grey-bg grey-price-feature">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-6">
                                            <h6 class="mb-0">Professional Portfolio</h6>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <h4><i class="fa-solid fa-check text-primary"></i></h4>
                                        </div>
                                    </div>
                                    <div class="row dark-grey-bg grey-price-feature">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-6">
                                            <h6 class="mb-0">Tuition Guarantee</h6>
                                        </div>
                                        <div class="col-md-5 text-center">
                                            <h4><i class="fa-solid fa-check text-primary"></i></h4>
                                        </div>
                                    </div>
                                    <div class="row dark-grey-bg grey-price-feature">
                                        <div class="col-md-12 text-center">
                                            <h6 class="mb-0">Tuition Guarantee</h6>
                                            <p>We are confident our bootcamp will meet & exceed your expectations. however, if for any reason you are not satisfied within the first 30 days of your program, we will refund your tuition.</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 center-border"></div>
                            <div class="col-md-5 m-0 p-0">
                                <div class="col-12 col-md-12  mb-4">
                                    <div class="dark-light-bg price-n-enroll-btn p-4">
                                        <h4>Upfront Payment </h4>
                                        <p>Get $1,000 off your tuition when you make a one-time, upfront payment. </p>
                                        <p class="small-text">Tuition from</p>
                                        <div class="price">
                                            <div  class="old-price"><span>$4,000</span> To</div>
                                            <div class="final-orice text-primary">$3,250</div>
                                        </div>
                                        <a class="btn btn-primary mt-3" (click)="scrollToTop()">Apply Now</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 ">
                                    <div class="dark-light-bg p-4 price-n-enroll-btn">
                                        <h4>Financing</h4>
                                        <p>Apply For Deferred Payment With Our Partner And Only Start Paying For Your Program After You Graduate.</p>
                                        <p class="small-text"></p>
                                        <div class="price">
                                            <div  class="old-price"><span></span></div>
                                            <div class="final-orice text-primary">$0</div>
                                        </div>
                                        <a class="btn btn-primary  mt-3" (click)="scrollToTop()">Apply Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0 p-0">
                                <div class="col-md-12 mt-4 p-0">
                                    <div class="job-guarantee-text dark-light-bg p-5">
                                        <h5 class="text-primary">Payment Plan Calculator </h5>
                                        <h6 class="pt-4 pb-3">Get started for as low as $250 and choose a payment schedule that works for you</h6>
                                        <!-- <app-ui-payment-paycove></app-ui-payment-paycove> -->
                                        <a href="#" class="btn btn-primary mt-2">Apply Now</a>
                                    </div>
                                </div>
                            </div> 
                        <!-- <img src="../assets/images/rthdrthdrth 1.png" alt="" class="hansta-muskurata"/> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>