<section class="parner__logos section_space">
    <div class="container">
        <h2 class="text-center mb-4 section__title" >Our Graduates Work At</h2>
        <div class="row align-items-center justify-content-center parner__logos_row">
            <div class="col-12 col-md-2"><img src="./assets/images/google-logo.png" alt="Partner 4" class="img-fluid" loading="lazy"/></div>
            <div class="col-12 col-md-2"><img src="./assets/images/cloud-logo.png" alt="Partner 3" class="img-fluid" loading="lazy"/></div>            
            <div class="col-12 col-md-2"><img src="./assets/images/platsky-logo.png" alt="Partner 2" class="img-fluid" loading="lazy"/></div>
            <div class="col-12 col-md-2"><img src="./assets/images/intone-logo.png" alt="Partner 1" class="img-fluid" loading="lazy"/></div>
        </div>
        <div class="row align-items-center justify-content-center parner__logos_row">
            <div class="col-12 col-md-2"><img src="./assets/images/canvas-logo.png" alt="Partner 4" class="img-fluid" loading="lazy"/></div>
            <div class="col-12 col-md-2"><img src="./assets/images/palisade-logo.png" alt="Partner 3" class="img-fluid" loading="lazy"/></div>            
            <div class="col-12 col-md-2"><img src="./assets/images/world-point-logo.png" alt="Partner 2" class="img-fluid" loading="lazy"/></div>
            <div class="col-12 col-md-2"><img src="./assets/images/ccr-logo.png" alt="Partner 1" class="img-fluid" loading="lazy"/></div>
        </div>
    </div>
</section>