<section class="classroom_values section_space">
    <div class="container">
        <div class="classroom_values_details text-center">
            <h1>Classroom values</h1>
            <p>Our classroom values serve as the bedrock for all student, instructor and support staff actions, providing us with direction in our everyday tasks, whether it's crafting the Workforce Institute learning journey or contributing to the development of future tech experts</p>
        </div>
        <div class="classroom_values_carousel">
            <div class="row">
                <div class="col-md-6">
                    <div class="classroom_values_carousel_details">
                        <h3>Diligence:</h3>
                        <p>At our core, we embrace the value of diligence as the driving force behind our commitment to excellence. We believe that persistent effort, attention to detail, and unwavering determination are the cornerstones of achieving remarkable results. Our team approaches every task with a strong work ethic and an unyielding dedication to delivering the best possible outcomes for our students, partners, and the broader community. </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="classroom_values_carousel_image">
                        <img src="./assets/images/classroom-valuess.webp" alt="image" class="img-fluid" >
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
