<section class="section_space ui-ux-need-information">
    <div class="container">
        <div class="need-information-title">
            <h2 class="section__title">Still need more information?</h2>
            <p>Join our free live Program Overview and learn more about everything we offer in our bootcamps and how we can help you achieve success.l:</p>
        </div>
        <div class="need-information-description">
            <div class="row">
                <div class="col-md-6">
                    <div class="need-information-description-details">
                        <h3>The Next Live <br> happens on: </h3> 
                        <div class="need-information-details-date">
                            <h5>Oct 3, 2023</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="need-information-description-form">
                        <h3>Join Our Live</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
