<!-- <div [innerHTML]="banner">{{banner}}</div> -->
<section class="section_space">
    <div class="container">
        <div class="row align-items-center gx-md-5">
            <div class="col-12 col-md-7">
                <h1 class=" mb-4 c_banner_title">
                <span class="c-black ">Launch Your</span><br/>
                <span class="c-primary ">New Career!</span>
                </h1>
                <p class="lh-lg c_banner_description">Learn online from a real instructor. Succeed with 1:1 coaching. Land your dream job with Workforce Institute.</p>
                <!-- <a href="#exploreP" class="btn btn-primary rounded-pill px-4 mt-3 mt-md-4">Explore our Programs</a> -->
                <div class="banner_review">
                    <div class="banner_review_image">
                        <img src="./assets/images/banner-review.png" alt=""  class="img-fluid">
                    </div>
                    <div class="banner_review_description">
                        <h4>Sharawn White​</h4>
                        <p>Our instructor was upbeat, friendly and always willing to help.​</p>
                        <p class="rating">
                            <img src="./assets/images/Star.svg" alt="">
                            <img src="./assets/images/Star.svg" alt="">
                            <img src="./assets/images/Star.svg" alt="">
                            <img src="./assets/images/Star.svg" alt="">
                            <img src="./assets/images/Star.svg" alt="">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 mt-4 mt-md-0">
                <h4 class="text-center pb-4">Start Today!</h4>
                <div id="hubspotForms"></div>
                
                
            </div>
        </div>
    </div>
</section>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "na1",
    portalId: "7305468",
    formId: "4177b4d5-8d2a-42c6-a297-a717d0f728f9"
  });
</script>