<!-- <div [innerHTML]="banner">{{banner}}</div> -->
<section class="section_space about_banner_section">
    <div class="about_banner_details">
    <div class="container">
            <div class="row align-items-center justify-content-between x-md-5">
                <div class="col-12 col-md-7">
                    <h1 class=" mb-4 c_banner_title">
                    <span class="">LAUNCH YOUR <br> CAREER IN </span><br/>
                    <span class="span_higlight ">UI/UX DESIGN</span>
                    </h1>
                    <p class="lh-lg c_banner_description">Become a certified UI/UX professional with a 24-week online program. Affordable tuition starting at $3,250 with flexible payment options available.</p>
                    <!-- <a href="#exploreP" class="btn btn-primary rounded-pill px-4 mt-3 mt-md-4">Explore our Programs</a> -->
                    <div class="banner_review">
                        <div class="banner_review_image">
                            <img src="./assets/images/about-banner-review.webp" alt=""  class="img-fluid">
                        </div>
                        <div class="banner_review_description">
                            <h4>Janae Doon​</h4>
                            <p>“I am very grateful for the career service and everything they help me with.”​</p>
                            <p class="rating">
                                <img src="./assets/images/Star.svg" alt="">
                                <img src="./assets/images/Star.svg" alt="">
                                <img src="./assets/images/Star.svg" alt="">
                                <img src="./assets/images/Star.svg" alt="">
                                <img src="./assets/images/Star.svg" alt="">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mt-4 mt-md-0">
                    <div class="main_banner_form">
                        <h4 class="text-center pb-4">START YOUR CAREER IN UI/UX DESIGN TODAY</h4>
                        <div id="hubspotForms"></div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "na1",
    portalId: "7305468",
    formId: "4177b4d5-8d2a-42c6-a297-a717d0f728f9"
  });
</script>