.ui-ux-background-image{
    background-image: url("./../../../assets/images/ui-ux-background-image.webp");
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;   


}