
<app-ui-ux-banner></app-ui-ux-banner>
<app-our-graduates></app-our-graduates>
<app-ui-ux-bootcamp-experience></app-ui-ux-bootcamp-experience>
<app-ui-ux-bootcamp-overview></app-ui-ux-bootcamp-overview>
<app-ui-ux-wellpaid-career></app-ui-ux-wellpaid-career>
<app-ui-ux-what-will-learn></app-ui-ux-what-will-learn>
<div class="ui-ux-background-image">
<app-ui-ux-student-projects></app-ui-ux-student-projects>
<app-payment-options></app-payment-options>
</div>
<app-our-graduates-saying></app-our-graduates-saying>
<app-instructors></app-instructors>
<app-our-partners></app-our-partners>
<app-next-ux-design></app-next-ux-design>
<app-faqs></app-faqs>
<app-need-information></app-need-information>
<app-home-blog></app-home-blog>