<section class="graduate-carousel  our_graduates_are_saying">
    <div class="container py-md-5">
        <h2 class="text-center mb-3 graduate-carousel_title section__title" >What Our Graduates Are Saying</h2>
        
    </div>
    <div class="container">
        <!-- <div class="row justify-content-center">
            <div class="col-md-10 ">
                <div class="our_graduates__saying">
                    <div class="our_graduates__saying_video">
                        <iframe width="100%" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
                        </iframe>
                    </div>
                    <div class="our_graduates__saying_video">
                        <iframe width="100%" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
                        </iframe>
                    </div>
                    <div class="our_graduates__saying_video">
                        <iframe width="100%" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
                        </iframe>
                    </div>
                    <div class="our_graduates__saying_video">
                        <iframe width="100%" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
                        </iframe>
                    </div>
                    <div class="our_graduates__saying_video">
                        <iframe width="100%" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
                        </iframe>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="graduates_testimonials">
            <div class="row avc">
                <div class="col-md-4test">
                    <div class="graduates_reviews rounded-3">
                        <div class="graduates_reviews_top_section">
                            <div class="graduates_reviews_image">
                                <img src="./assets/images/graduates-saying1.webp" alt="graduates saying" class="img-fluid">
                            </div>
                            <div class="graduates_reviews_title">
                                <h6>Sharawn White</h6>
                                <p>UI/UX Course</p>
                            </div>
                            <div class="graduates_reviews_rating">
                                <p>4.5</p>
                                <img src="./assets/images/ant-design_star-filled.svg" alt="graduates rating" class="img-fluid">
                            </div>
                        </div>
                        <div class="graduates_reviews_description ">
                            <p>
                                The live sessions in the UI/UX program provides valuable insights and instruction. You have the opportunity to get direct feedback on your work so you can make improvements as you go along. Our instructor was upbeat, friendly and always willing to help.​ 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4test">
                    <div class="graduates_reviews rounded-3">
                        <div class="graduates_reviews_top_section">
                            <div class="graduates_reviews_image">
                                <img src="./assets/images/graduates-saying3.webp" alt="graduates saying" class="img-fluid">
                            </div>
                            <div class="graduates_reviews_title">
                                <h6>Sasha Duarte</h6>
                                <p>UI/UX Course</p>
                            </div>
                            <div class="graduates_reviews_rating">
                                <p>4.5</p>
                                <img src="./assets/images/ant-design_star-filled.svg" alt="graduates rating" class="img-fluid">
                            </div>
                        </div>
                        <div class="graduates_reviews_description ">
                            <p>
                                The UI/UX program really stood out to me on day one. Very well organized and put together. I enjoyed the weekly zoom lectures and was able to get my questions answered promptly. The information was engaging and definitely has helped shaped me as a designer. I recommend this program!​ 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4test">
                    <div class="graduates_reviews rounded-3">
                        <div class="graduates_reviews_top_section">
                            <div class="graduates_reviews_image">
                                <img src="./assets/images/graduates-saying2.webp" alt="graduates saying" class="img-fluid">
                            </div>
                            <div class="graduates_reviews_title">
                                <h6>Evra Farsak</h6>
                                <p>UI/UX Course</p>
                            </div>
                            <div class="graduates_reviews_rating">
                                <p>4.5</p>
                                <img src="./assets/images/ant-design_star-filled.svg" alt="graduates rating" class="img-fluid">
                            </div>
                        </div>
                        <div class="graduates_reviews_description ">
                            <p>
                                I have signed up for the 24-week bootcamp program for UX/UI design. The 24-weeks with the bootcamp has given me new experiences and helped me develop career skills, my teachers and counselors made sure I was on track and picking up the skills I needed for my future career.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4test">
                    <div class="graduates_reviews rounded-3">
                        <div class="graduates_reviews_top_section">
                            <div class="graduates_reviews_image">
                                <img src="./assets/images/graduates-saying2.webp" alt="graduates saying" class="img-fluid">
                            </div>
                            <div class="graduates_reviews_title">
                                <h6>Evra Farsak</h6>
                                <p>UI/UX Course</p>
                            </div>
                            <div class="graduates_reviews_rating">
                                <p>4.5</p>
                                <img src="./assets/images/ant-design_star-filled.svg" alt="graduates rating" class="img-fluid">
                            </div>
                        </div>
                        <div class="graduates_reviews_description ">
                            <p>
                                I have signed up for the 24-week bootcamp program for UX/UI design. The 24-weeks with the bootcamp has given me new experiences and helped me develop career skills, my teachers and counselors made sure I was on track and picking up the skills I needed for my future career.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        
    </div>
    

</section>