<section class="section_space our_partners_section">
    <div class="container">
        <h2 class="text-center mb-5">Our Partners</h2>
        <div class="our_partners">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-3">
                    <div class="our_partners_image">
                        <img src="./assets/images/partner-3.webp" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our_partners_image">
                        <img src="./assets/images/partner-4.webp"  alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our_partners_image">
                        <img src="./assets/images/partner-5.webp" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
