<section class="section_space">
    <div class="container">
        <h2 class="text-center mb-5">Our Partners</h2>
        <div class="our_partners">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-3">
                    <div class="our_partners_image">
                        <img src="./assets/images/santa-logo.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our_partners_image">
                        <img src="./assets/images/north-eastern-logo.png"  alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="our_partners_image">
                        <img src="./assets/images/hofstra-logo.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
