<section class="">
  <div class="container">
      <div class="ui-ux-faqs">
          <div class="ui-ux-faqs-title">
              <h2 class="section__title">FAQs</h2>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                              Do I need previous experience in UI/UX before enrolling?
                          </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">There is no requirement of previous experience before getting enrolled in our UI/UX Design Bootcamp. The bootcamp curriculum teaches skills and concepts from the ground-up. Beginners and experienced professionals can enroll to strengthen their grip in various concepts.</div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                              Is the program 100% online?
                          </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">Yes, the program is entirely asynchronous and online—so you can study when and wherever you’d like so long as you can get online and stay on track for graduation. </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              Are there payment plans available?
                          </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">We offer different financing options, including installment plans and up-front payment, so you can focus on what counts — your education. Speak with our Admissions team to learn more and find the best fit for you and your finances. </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                              Do you provide career support?
                            </button>
                          </h2>
                          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Yes! With our job placement services, you can get help with resume building, mock interviews, internships, job opportunities, and more! Contact our advisors today for more info! </div>
                          </div>
                        </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                              What is the Refund Policy?
                            </button>
                          </h2>
                          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">In order to cancel enrollment and apply for a refund, you must notify a financial counselor and admission advisor in writing through an email. The initial deposit is non-refundable after the start of the onboarding session. You can only receive a full refund prior to 7 days from start of the first session NOT including the initial deposit. </div>
                          </div>
                        </div>
                    </div>
              </div>
              <div class="col-md-6">
                  <div class="accordion accordion-flush" id="accordionFlushExamplee">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne1">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne1" aria-expanded="false" aria-controls="flush-collapseOne1">
                              Why should I take the UI/UX Design Bootcamp?
                          </button>
                        </h2>
                        <div id="flush-collapseOne1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne1" data-bs-parent="#accordionFlushExamplee">
                          <div class="accordion-body">The whole bootcamp program consists of multiple value-driven learning approaches including online lectures to access anytime, practical projects to get you skilled for real-world work, industry experts meeting you regularly via Zoom sessions, and a certificate of completion from a reputable university. </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo2">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo2" aria-expanded="false" aria-controls="flush-collapseTwo2">
                              How long does the program take to complete?
                          </button>
                        </h2>
                        <div id="flush-collapseTwo2" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo2" data-bs-parent="#accordionFlushExamplee">
                          <div class="accordion-body">Self-paced Bootcamps allow students to complete the program according to their own pace and schedule. The duration of the 24-week program between 6-7 months. </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree3">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree3" aria-expanded="false" aria-controls="flush-collapseThree3">
                              Do I get a certificate when I graduate?
                          </button>
                        </h2>
                        <div id="flush-collapseThree3" class="accordion-collapse collapse" aria-labelledby="flush-headingThree3" data-bs-parent="#accordionFlushExamplee">
                          <div class="accordion-body">Yes! Upon passing this course, you will receive a signed certificate of completion. This will make it easy for you to share your new qualification on LinkedIn and with potential employers or clients.</div>
                        </div>
                      </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingFour4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour4" aria-expanded="false" aria-controls="flush-collapseFour4">
                              When does the next UI/UX Design Bootcamp begin?
                            </button>
                          </h2>
                          <div id="flush-collapseFour4" class="accordion-collapse collapse" aria-labelledby="flush-headingFour4" data-bs-parent="#accordionFlushExamplee">
                            <div class="accordion-body">To know the starting dates, please contact our admissions advisors and they will update you.</div>
                          </div>
                        </div>
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingFive5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive5" aria-expanded="false" aria-controls="flush-collapseFive5">
                              Do I have to stop working if I enroll into a bootcamp?
                            </button>
                          </h2>
                          <div id="flush-collapseFive5" class="accordion-collapse collapse" aria-labelledby="flush-headingFive5" data-bs-parent="#accordionFlushExamplee">
                            <div class="accordion-body">No. Our flexible training hours allow you to easily balance academic and professional priorities with Bootcamp.  </div>
                          </div>
                        </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
</section>
