.ui-ux-faqs{
    padding: 30px;
    border-radius: 20px;
    background: #FAFAFA;
    box-shadow: 6px 10px 25px -7px rgba(0, 0, 0, 0.25);
    .ui-ux-faqs-title {
        text-align: center;
        margin: 40px 0 ;
    }
    .accordion-item {
        border-bottom: 0;
        button.accordion-button.collapsed{
            &::after{
                background: #63D68B;
                height: 35px;
                width: 35px;
                border-radius: 30px;
                color: rgb(255, 255, 255);
                font-size: 20px;
                content: "\f105";
                font-family: 'FontAwesome';
                align-items: center;
                justify-content: center;
                display: flex;
            
            }
        }
        button.accordion-button {
            box-shadow: 0 0px 10px 1px lightgray;
            border-radius:5px;
            margin-bottom:10px;
            &::after{
                background: #ffffff;
                height: 35px;
                width: 35px;
                border-radius: 30px;
                color: var(--primary-color);
                font-size: 20px;
                content: "\f106";
                font-family: 'FontAwesome';
                align-items: center;
                justify-content: center;
                display: flex;
            }
        }
        .accordion-button:not(.collapsed){
            background-color: var(--primary-color);
            color: var(--white);
        }
    }
}