<section class="ui-ux-wellpaid-career section_space">
    <div class="container">
        <div class="ui-ux-wellpaid-career_title text-center">
            <h2 class="section__title">A Promising and Well-Paid Career</h2>
            <p>The UX/UI Designer is responsible for user experience and navigation on multi-platforms such as websites and mobile applications. They are increasingly gaining prominence in the market in various areas such as e-commerce companies, advertising agencies, fintechs and digital banks, and technology companies.</p>
        </div>
        <div class="ui-ux-wellpaid-career">
            <div class="row">
                <div class="col-md-7">
                    <h6>UI/UX Writing</h6>
                    <div class='section2__progressBarContainer'>
                        <div class='section2__progressBar'>
                            <div class='section2__progressBarRect'>
                                <span class='section2__progressBarCircle'>$73,000 Year</span>
                            </div>
                        </div>
                    </div>

                    <h6>UI/UX Research</h6>
                    <div class='section2__progressBarContainer'>
                        <div class='section2__progressBar'>
                            <div class='section2__progressBarRect'>
                                <span class='section2__progressBarCircle'>$89,900 Year</span>
                            </div>
                        </div>
                    </div>

                    <h6>UI/UX Design</h6>
                    <div class='section2__progressBarContainer'>
                        <div class='section2__progressBar'>
                            <div class='section2__progressBarRect'>
                                <span class='section2__progressBarCircle'>$131,500 Year</span>
                            </div>
                        </div>
                    </div>

                    <h6>UI/UX Strategy</h6>
                    <div class='section2__progressBarContainer'>
                        <div class='section2__progressBar'>
                            <div class='section2__progressBarRect'>
                                <span class='section2__progressBarCircle'>$75,300 Year</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="text-center ui-ux-wellpaid-career-details">
                        <h4>Free Career Assessment</h4>
                        <p>Not sure which UI/UX Career would be the perfect fit for you? Discover how you can turn your passions and strengths into a promising career with our quick and free career assessment tool.</p> 
                        <a href="#" class="btn btn-primary">Free Career Assessment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</section>