<section class="explore_courses section_space">
  <div class="container">
    <div class="explore_courses_title">
      <h3>Explore courses</h3>
    </div>
    <div class="row">
      <div class="col-md-4 explore_courses_tabs" >
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link tab-link" data-tab="tab1">UI/IX Design</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-link" data-tab="tab2">Digital Marketing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-link" data-tab="tab3">Product Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-link" data-tab="tab4">Self-Paced Program</a>
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="tab-content  active-tab" id="tab1">
          <div class="explore_courses_tab_description">
            <h3>Understand users deeply and create experiences they love</h3>
            <p>Design products that are useful and beautiful. Deliver form and function develop a design-thinking mindset through hands-on projects and an externship.</p>
            <a href="#" class="explore_courses_tab_btn btn btn-primary ">View More</a>
          </div>
          
        </div>
        <div class="tab-content" id="tab2">Tab 2 Content</div>
        <div class="tab-content" id="tab3">Tab 3 Content</div>
        <div class="tab-content" id="tab4">Tab 4 Content</div>
      </div>
    </div> 
    <div class="explore_courses_tuition_guarantee  rounded-3 mt-5">
      <div class="tuition_guarantee_title">
        <img src="./assets/images/tuition_guarantee-icon.svg" alt="tuition_guarantee-icon" class="img-fluid">
        <h4>Tuition Guarantee</h4>
      </div>
      <div class="tuition_guarantee_des">
        <p>We are confident our bootcamp will meet & exceed your expectations. However, if for any reason you are not satisfied within the first 30 days of your program, we will refund your tuition.</p>
      </div>
    </div>  
  </div>
</section>