<section class="explore_courses section_space">
  <div class="container">
    <div class="explore_courses_title">
      <h3>Explore courses</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link tab-link" data-tab="tab1">Tab 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-link" data-tab="tab2">Tab 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-link" data-tab="tab3">Tab 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tab-link" data-tab="tab4">Tab 4</a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="tab-content  active-tab" id="tab1">Tab 1 Content</div>
        <div class="tab-content" id="tab2">Tab 2 Content</div>
        <div class="tab-content" id="tab3">Tab 3 Content</div>
        <div class="tab-content" id="tab4">Tab 4 Content</div>
      </div>
    </div>   
  </div>
</section>