<section class="marketing-wellpaid-career section_space">
    <div class="container">
        <div class="marketing-wellpaid-career_title text-center">
            <h2 class="section__title">A Promising and Well-Paid Career</h2>
            <p>The Digital Marketing is responsible for user experience and navigation on multi-platforms such as websites and mobile applications. They are increasingly gaining prominence in the market in various areas such as e-commerce companies, advertising agencies, fintechs and digital banks, and technology companies.</p>
        </div>
        <div class="marketing-wellpaid-career">
            <div class="row">
                <div class="col-md-7">
                    <h6>Paid Media</h6>
                    <div class='section2__progressBarContainer'>
                        <div class='section2__progressBar'>
                            <div class='section2__progressBarRect'>
                                <span class='section2__progressBarCircle'>$73,000 Year</span>
                            </div>
                        </div>
                    </div>

                    <h6>SEO</h6>
                    <div class='section2__progressBarContainer'>
                        <div class='section2__progressBar'>
                            <div class='section2__progressBarRect'>
                                <span class='section2__progressBarCircle'>$63,553 Year</span>
                            </div>
                        </div>
                    </div>

                    <h6>Content Marketing</h6>
                    <div class='section2__progressBarContainer'>
                        <div class='section2__progressBar'>
                            <div class='section2__progressBarRect'>
                                <span class='section2__progressBarCircle'>$75,165 Year</span>
                            </div>
                        </div>
                    </div>

                    <h6>Marketing Operations</h6>
                    <div class='section2__progressBarContainer'>
                        <div class='section2__progressBar'>
                            <div class='section2__progressBarRect'>
                                <span class='section2__progressBarCircle'>$69,525 Year</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="text-center marketing-wellpaid-career-details">
                        <h4>Free Career Assessment</h4>
                        <p>Not sure which Digital Marketing would be the perfect fit for you? Discover how you can turn your passions and strengths into a promising career with with our quick and free career assessment tool.</p> 
                        <a href="#" class="btn btn-primary">Free Career Assessment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</section>