<section class="section-space ">
    <div class="container">
        <div class="ui-ux-student-projects">
            <div class="student-projects-title">
                <h2 class="text-primary section__title">Student Projects</h2>
                <p>In the last unit of UX Academy Foundations, you'll work on a 10-hour, final design challenge to apply everything you've learned in the course. With the support of your mentor, you'll get this project to a standard in which it's ready to use in your application for UX Academy! Explore real project work that students have recently worked on in our UX Academy Foundations course. </p>
            </div>
            <div class="student-projects_list">
                <div class="row">
                    <div class="col-md-4">
                        <div class="student-projects_list_details">
                            <div>
                                <img src="./assets/images/student-project1.webp" alt="" class="img-fluid">
                            </div>
                            <div class="student-projects_details">
                                <img src="./assets/images/project-student-name.webp" alt="" class="img-fluid">
                                <div class="project-student-name">
                                    <h5><span> Diane Nhieu</span> Designed It</h5>
                                    <a href="#">View project</a>
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="student-projects_list_details">
                            <div>
                                <img src="./assets/images/student-project2.webp" alt="" class="img-fluid">
                            </div>
                            <div class="student-projects_details">
                                <img src="./assets/images/project-student-name.webp" alt="" class="img-fluid">
                                <div class="project-student-name">
                                    <h5><span>Jessica O.</span> Designed It</h5>
                                    <a href="#">View project</a>
                                </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="student-projects_list_details">
                            <div>
                                <img src="./assets/images/student-project3.webp" alt="" class="img-fluid">
                            </div>
                            <div class="student-projects_details">
                                <img src="./assets/images/project-student-name.webp" alt="" class="img-fluid">
                                <div class="project-student-name">
                                    <h5><span>Kitty L. </span>Designed It</h5>
                                    <a href="#">View project</a>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
