<section class=" show_on_scroll show-section section_space home-blog">
    <div class="container py-md-5">
      <h2 class="text-center mb-5">Want to learn more? </h2>
      <div class="row gy-5 gy-md-0 gx-md-5 ng-star-inserted">
        <div class="col-12 col-md-4 ng-star-inserted">
          <div class="blog__item" id="blog-3257">
            <div class="blog__img-wrapper">
              <img src="./assets/images/blog-image1.webp " alt="Networking for digital marketing professionals" class="img-fluid rounded-4">
            </div>
            <h3 class="mt-3 mb-3">7 Tips to Optimize Landing Page UX</h3>
            <p>In an increasingly digital world, accessibility and inclusivity are vital considerations for design. As the population ages, it's imperative to create digital experiences that cater to the needs of older users. Designing with........</p>
            <a class="btn btn-primary rounded-0 px-4 mt-3" href="#">CONTINUE READING....</a>
          </div>
        </div>
        <div class="col-12 col-md-4 ng-star-inserted">
          <div class="blog__item" id="blog-3255">
            <div class="blog__img-wrapper">
              <img src="./assets/images/blog-image2.webp" alt="Return on education for digital marketing bootcamps" class="img-fluid rounded-4">
            </div>
            <h3 class="mt-3 mb-3">Designing for Wearability : 
                UX Challenges & Opportunities</h3>
            <p>In the rapidly evolving landscape of technology, wearables have emerged as a revolutionary force that blends seamlessly with our daily lives. From smartwatches and fitness trackers to augmented reality glasses, wearables........</p>
            <a class="btn btn-primary rounded-0 px-4 mt-3" href="#">CONTINUE READING....</a>
          </div>
        </div>
        <div class="col-12 col-md-4 ng-star-inserted">
          <div class="blog__item" id="blog-3256">
            <div class="blog__img-wrapper">
              <img src="./assets/images/blog-image3.webp" alt="Digital marketing, laptop" class="img-fluid rounded-4">
            </div>
            <h3 class="mt-3 mb-3">What is Visual Hierarchy in UX Design?</h3>
            <p>In the realm of user experience (UX) design, creating an intuitive and engaging interface is crucial to the success of any digital product. Visual hierarchy, a fundamental concept in design, plays a pivotal role in guiding........</p>
            <a class="btn btn-primary rounded-0 px-4 mt-3" href="#">CONTINUE READING....</a>
          </div>
        </div>
        <!---->
      </div>
      <!---->
    </div>
  </section>