<section class=" ui-ux-instructor">
    <div class="container">
        <div class="ui-ux-instructor-slider">
            <div class="ui-ux-instructor-title">
                <h2 class="section__title">Instructors</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="instructor-slide">
                        <div class="instructor-slide-image">
                            <img src="./assets/images/instructor-image1.webp" alt="image" class="img-fluid">
                        </div>
                        <div class="instructor-slide-details">
                            <h5>Mark Richman</h5>
                            <p>Instructor, UX Design and Research</p>
                        </div>
                        <div class="instructor-slide-action">
                            <a href="#">See More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="instructor-slide">
                        <div class="instructor-slide-image">
                            <img src="./assets/images/instructor-image2.webp" alt="image" class="img-fluid">
                        </div>
                        <div class="instructor-slide-details">
                            <h5>Derek Boman</h5>
                            <p>Instructor, Product Designer</p>
                        </div>
                        <div class="instructor-slide-action">
                            <a href="#">See More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="instructor-slide">
                        <div class="instructor-slide-image">
                            <img src="./assets/images/instructor-image3.webp" alt="image" class="img-fluid">
                        </div>
                        <div class="instructor-slide-details">
                            <h5>Nick Mcinnis</h5>
                            <p>Instructor, UI/UX Designer</p>
                        </div>
                        <div class="instructor-slide-action">
                            <a href="#">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>